@page "/"
@namespace Tars.Interface.Ui.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TARS v2 - Dashboard</title>
    <base href="~/"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
<div id="main">
    @(await Html.RenderComponentAsync<Tars.Interface.Ui.Main.TarsApp>(RenderMode.ServerPrerendered))
</div>

<script src="_framework/blazor.server.js"></script>
</body>
</html>
